Repository ediamin/css-class-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run phpcs, wp-scripts format, wp-scripts lint-style, wp-scripts lint-js, wp-scripts lint-pkg-json

.lintstagedrc.json:

{
	"*.php": [ "composer run phpcs" ],
	"*.json": [ "wp-scripts format" ],
	"*.scss": [ "wp-scripts lint-style" ],
	"*.{js,ts,tsx}": [ "wp-scripts lint-js" ],
	"package.json": [ "wp-scripts lint-pkg-json" ]
}

Add StyleLint config
  .lintstagedrc.json
  .stylelintrc.json
  assets/src/css-class-manager/styles.scss
  package.json
Due: wp-scripts format, wp-scripts lint-style, wp-scripts lint-pkg-json

Remove dummy filtered class names
  includes/Plugin.php
Due: composer run phpcs

Fix PHPStan errors
  includes/Plugin.php
  includes/Settings.php
Due: composer run phpcs

Show info in the Class List modal when list is empty
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/class-list.tsx
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Fix modal closes after submitting class form
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/class-form.tsx
Due: wp-scripts lint-js

Generate source map for JS at build time
  webpack.config.js
Due: wp-scripts lint-js

Fix preferences modal for WP 6.5
  assets/src/css-class-manager/preferences-modal/index.tsx
  assets/src/css-class-manager/preferences-modal/preferences-modal-section/index.tsx
  assets/src/css-class-manager/preferences-modal/preferences-modal-tabs/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/class-list.tsx
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Upgrade WP version to 6.5 in wp-env.json
  .wp-env.json
Due: wp-scripts format

Add proper readme text and WP assets
  README.md
  readme.txt
  wp-assets/banner-1544x500.png
  wp-assets/banner-772x250.png
  wp-assets/icon-128x128.png
  wp-assets/icon-256x256.png
  wp-assets/icon.svg
  wp-assets/screenshot-1.png
  wp-assets/screenshot-2.png
  wp-assets/screenshot-3.png
  wp-assets/screenshot-4.png
  wp-assets/screenshot-5.png
  wp-assets/screenshot-6.png
Due: none

Temporarily delete README.md
  README.md
Due: none

Update plugin version
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Update license to GPLv3
  .npmpackagejsonlintrc.json
  composer.json
  license.txt
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Rename wp-asset dir to .wp-org
  .wp-org/banner-1544x500.png
  .wp-org/banner-772x250.png
  .wp-org/icon-128x128.png
  .wp-org/icon-256x256.png
  .wp-org/icon.svg
  .wp-org/screenshot-1.png
  .wp-org/screenshot-2.png
  .wp-org/screenshot-3.png
  .wp-org/screenshot-4.png
  .wp-org/screenshot-5.png
  .wp-org/screenshot-6.png
Due: none

Add make-dist-zip npm script
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Update plugin description in plugin entry file
  css-class-manager.php
Due: composer run phpcs

Fix spelling mistake
  composer.json
  css-class-manager.php
  license.txt
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Update license info in headers
  css-class-manager.php
  readme.txt
Due: composer run phpcs

Update plugin FAQ section
  readme.txt
Due: none

Update plugin banner
  .wp-org/banner-1544x500.png
  .wp-org/banner-772x250.png
Due: none

Update the Tested up to plugin header
  readme.txt
Due: none

Update banner and FAQ example code
  .wp-org/banner-1544x500.png
  .wp-org/banner-772x250.png
  readme.txt
Due: none

Update readme.txt
  readme.txt
Due: none

Add Bruno API files
  .api/bruno.json
  .api/environments/CSS Class Manager.bru
  .api/settings/GET.bru
  .api/settings/POST.bru
Due: wp-scripts format

Allow colon in class names
  assets/src/css-class-manager/utils/sanitize-html-class.ts
  includes/Settings.php
  includes/functions.php
Due: composer run phpcs, wp-scripts lint-js

Import PluginMoreMenuItem from wp-editor package
  assets/src/css-class-manager/menu-item/index.tsx
Due: wp-scripts lint-js

Upgrade npm packages to the latest
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/store/index.ts
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Fix missing ajv module error
  .npmrc
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Update scss file and use the @use instead of @import
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-style

Fix preference modal tab background color
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-style

Update WP minimum requirement version number
  .wp-env.json
  css-class-manager.php
  readme.txt
Due: composer run phpcs, wp-scripts format

Update WP tested upto version number
  readme.txt
Due: none

Fix PHPStan error in custom sanitize class function
  includes/functions.php
Due: composer run phpcs

Update version from 1.0.0 to 1.1.0
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Add version 1.1.0 changelog
  readme.txt
Due: none

Include license.txt in zip
  composer.json
  zip.php
Due: composer run phpcs, wp-scripts format

Fix TS compiler options config
  tsconfig.json
Due: wp-scripts format

Add user preference to display the control in its own panel
  assets/src/css-class-manager/hide-core-inspector-control/control.tsx
  assets/src/css-class-manager/hide-core-inspector-control/index.tsx
  assets/src/css-class-manager/hooks/use-store.ts
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/inspector-control/select-control.tsx
  assets/src/css-class-manager/preferences-modal/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/preferences/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/preferences/settings-form.tsx
  assets/src/css-class-manager/store/index.ts
  includes/Enqueue.php
  includes/Hooks.php
  includes/Plugin.php
  includes/UserSettings.php
  package.json
Due: composer run phpcs, wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Update npm packages
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json
