Repository ediamin/css-class-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run phpcs, wp-scripts format, wp-scripts lint-style, wp-scripts lint-js, wp-scripts lint-pkg-json

Add css_class_manager_filtered_class_names filter
  .vscode/additional-css-class-manager.code-snippets
  assets/src/css-class-manager/inspector-control/get-class-names-from-preset.ts
  assets/src/css-class-manager/inspector-control/get-filtered-class-names.ts
  assets/src/css-class-manager/inspector-control/get-render-item.tsx
  assets/src/css-class-manager/inspector-control/get-user-defined-class-names.ts
  assets/src/css-class-manager/inspector-control/with-css-class-manager-inspector-control.tsx
  assets/src/css-class-manager/types.ts
  composer.json
  includes/Enqueue.php
  includes/Plugin.php
  includes/functions.php
Due: composer run phpcs, wp-scripts format, wp-scripts lint-js

Simplified plugin name
  .eslintrc.js
  .phpcs.xml.dist
  .vscode/css-class-manager.code-snippets
  .vscode/launch.json
  .wp-env.json
  README.md
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/inspector-control/with-css-class-manager-inspector-control.tsx
  composer.json
  css-class-manager.php
  package-lock.json
  package.json
  phpstan.neon.dist
Due: composer run phpcs, wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Prepare to link to open the preferences modal
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inspector-control/with-css-class-manager-inspector-control.tsx
  assets/src/css-class-manager/menu-item/index.tsx
  assets/src/css-class-manager/types.ts
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Add modal visibility functionalites
  assets/src/css-class-manager/constants.ts
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inspector-control/with-css-class-manager-inspector-control.tsx
  assets/src/css-class-manager/manager/index.tsx
  assets/src/css-class-manager/manager/modal.tsx
  assets/src/css-class-manager/menu-item/index.tsx
  assets/src/css-class-manager/menu-item/more-menu-item.tsx
Due: wp-scripts lint-js

Refactor module entrypoints
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/inspector-control/with-css-class-manager-inspector-control.tsx
  assets/src/css-class-manager/manager/index.tsx
  assets/src/css-class-manager/menu-item/index.tsx
  assets/src/css-class-manager/menu-item/more-menu-item.tsx
  assets/src/css-class-manager/preference-modal/index.tsx
Due: wp-scripts lint-js

Prepare the prereferences modal
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/preference-modal/index.tsx
  assets/src/css-class-manager/preferences-modal/index.tsx
  assets/src/css-class-manager/preferences-modal/preferences-modal-section/index.tsx
  assets/src/css-class-manager/preferences-modal/preferences-modal-tabs/index.tsx
Due: wp-scripts lint-js

Add Class create and edit form
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inspector-control/get-render-item.tsx
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/preferences-modal/class-form.tsx
  assets/src/css-class-manager/preferences-modal/index.tsx
  assets/src/css-class-manager/preferences-modal/tab-css-classes.tsx
  assets/src/css-class-manager/preferences-modal/tab-import-export.tsx
  assets/src/css-class-manager/styles.scss
  assets/src/css-class-manager/types.ts
  assets/src/css-class-manager/utils/get-class-names-from-preset.ts
  assets/src/css-class-manager/utils/get-class-names.ts
  assets/src/css-class-manager/utils/get-filtered-class-names.ts
  assets/src/css-class-manager/utils/get-user-defined-class-names.ts
  includes/Enqueue.php
  webpack.config.js
Due: composer run phpcs, wp-scripts lint-js

Register css_class_manager settings
  .vscode/css-class-manager.code-snippets
  includes/Hooks.php
  includes/Settings.php
Due: composer run phpcs

Add data store
  assets/src/css-class-manager/constants.ts
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/preferences-modal/tab-css-classes.tsx
  assets/src/css-class-manager/store/index.ts
  assets/src/css-class-manager/types.ts
  includes/Enqueue.php
  includes/Plugin.php
  includes/Settings.php
  package-lock.json
  package.json
Due: composer run phpcs, wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Remove edit buttons from the form for filtered classes
  assets/src/css-class-manager/preferences-modal/class-form.tsx
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-js

Save new class name data in redux store
  assets/src/css-class-manager/preferences-modal/class-form.tsx
  assets/src/css-class-manager/preferences-modal/tab-css-classes.tsx
  assets/src/css-class-manager/store/index.ts
  assets/src/css-class-manager/types.ts
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Save class form data
  .phpcs.xml.dist
  assets/src/css-class-manager/preferences-modal/class-form.tsx
  assets/src/css-class-manager/preferences-modal/tab-css-classes.tsx
  assets/src/css-class-manager/store/index.ts
  assets/src/css-class-manager/utils/sanitize-html-class.ts
  includes/Settings.php
Due: composer run phpcs, wp-scripts lint-js

Add notice store and snackbarlist
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/notices/index.tsx
  assets/src/css-class-manager/store/index.ts
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-js

Move saving class names logic into store action
  assets/src/css-class-manager/preferences-modal/tab-css-classes.tsx
  assets/src/css-class-manager/store/index.ts
Due: wp-scripts lint-js

Show snackbar notice after saving data
  assets/src/css-class-manager/store/index.ts
Due: wp-scripts lint-js

Prevent inserting empty class name
  assets/src/css-class-manager/preferences-modal/tab-css-classes.tsx
  includes/Settings.php
Due: composer run phpcs, wp-scripts lint-js

Add delete a user defined class name functionalities
  assets/src/css-class-manager/preferences-modal/class-form.tsx
  assets/src/css-class-manager/preferences-modal/tab-css-classes.tsx
  assets/src/css-class-manager/store/index.ts
Due: wp-scripts lint-js

Rearrange store object
  assets/src/css-class-manager/store/index.ts
Due: wp-scripts lint-js

Add search class name in class list feature
  assets/src/css-class-manager/preferences-modal/tab-css-classes.tsx
Due: wp-scripts lint-js

Use react-select package for the dropdown
  assets/src/css-class-manager/hooks/use-class-name-list.ts
  assets/src/css-class-manager/inspector-control/get-render-item.tsx
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/inspector-control/option.tsx
  assets/src/css-class-manager/styles.scss
  assets/src/css-class-manager/types.ts
  assets/src/css-class-manager/utils/get-class-names-from-preset.ts
  assets/src/css-class-manager/utils/get-class-names.ts
  assets/src/css-class-manager/utils/get-filtered-class-names.ts
  assets/src/css-class-manager/utils/get-user-defined-class-names.ts
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Move react select component to a separate component
  assets/src/css-class-manager/hooks/use-class-name-list.ts
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/inspector-control/option.tsx
  assets/src/css-class-manager/inspector-control/select-control.tsx
Due: wp-scripts lint-js

Add filterOption to the react select
  assets/src/css-class-manager/inspector-control/select-control.tsx
Due: wp-scripts lint-js

Update select list after add and edit class names in modal
  assets/src/css-class-manager/hooks/use-class-name-list.ts
  assets/src/css-class-manager/inspector-control/select-control.tsx
Due: wp-scripts lint-js

Use menuPlacement props in react select component
  assets/src/css-class-manager/inspector-control/select-control.tsx
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-js

Add export class list feature
  assets/src/css-class-manager/hooks/use-states.ts
  assets/src/css-class-manager/preferences-modal/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/import-export/export/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/import-export/import/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/import-export/index.tsx
  assets/src/css-class-manager/styles.scss
  assets/src/css-class-manager/utils/download-json.ts
Due: wp-scripts lint-js

Add import class list feature
  assets/src/css-class-manager/preferences-modal/tabs/import-export/export/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/import-export/import/index.tsx
  assets/src/css-class-manager/store/index.ts
Due: wp-scripts lint-js

Re-organize component files for the CSS Classes tab
  assets/src/css-class-manager/preferences-modal/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/add-clss-class.tsx
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/class-form.tsx
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/class-list.tsx
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/import-export/export.tsx
  assets/src/css-class-manager/preferences-modal/tabs/import-export/import.tsx
Due: wp-scripts lint-js

Create useStore hook
  assets/src/css-class-manager/constants.ts
  assets/src/css-class-manager/hooks/index.ts
  assets/src/css-class-manager/hooks/use-store.ts
  assets/src/css-class-manager/inspector-control/select-control.tsx
  assets/src/css-class-manager/notices/index.tsx
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/add-clss-class.tsx
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/class-list.tsx
  assets/src/css-class-manager/preferences-modal/tabs/import-export/export.tsx
  assets/src/css-class-manager/preferences-modal/tabs/import-export/import.tsx
Due: wp-scripts lint-js

Prevent importing filtered class names
  assets/src/css-class-manager/store/index.ts
  includes/Settings.php
Due: composer run phpcs, wp-scripts lint-js

Remove default custom class name inspector control
  assets/src/css-class-manager/index.ts
Due: wp-scripts lint-js

Handle initial whitespace in class name attribute
  assets/src/css-class-manager/hooks/use-class-name-list.ts
  assets/src/css-class-manager/hooks/use-store.ts
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/inspector-control/select-control.tsx
Due: wp-scripts lint-js

Create class names from the block settings
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/inspector-control/select-control.tsx
  assets/src/css-class-manager/types.ts
Due: wp-scripts lint-js

Add plugin icon
  assets/src/css-class-manager/icon.tsx
  assets/src/css-class-manager/menu-item/index.tsx
Due: wp-scripts lint-js

Hide default css class name control
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inspector-control/select-control.tsx
Due: wp-scripts lint-js

Update icon
  assets/src/css-class-manager/icon.tsx
Due: wp-scripts lint-js

Add make-pot command
  .gitignore
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Add basic readme.txt
  readme.txt
Due: none

Add functionalities to zip the plugin
  .gitignore
  package.json
  zip.php
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Update npm package versions
  .npmrc
  .nvmrc
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Add npm typscript package as a wp-script lint-js dependency
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Path conditions:
  composer run phpcs: any of: *.php
  wp-scripts format: any of: *.json
  wp-scripts lint-style: any of: *.css
  wp-scripts lint-js: any of: *.{js,ts,tsx}
  wp-scripts lint-pkg-json: any of: package.json
