Repository ediamin/css-class-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run phpcs, wp-scripts format, wp-scripts lint-style, wp-scripts lint-js, wp-scripts lint-pkg-json

.lintstagedrc.json:

{
	"*.php": [ "composer run phpcs" ],
	"*.json": [ "wp-scripts format" ],
	"*.scss": [ "wp-scripts lint-style" ],
	"*.{js,ts,tsx}": [ "wp-scripts lint-js" ],
	"package.json": [ "wp-scripts lint-pkg-json" ]
}

Fix E2E server stability and PHPUnit alerts
  .github/workflows/tests.yml
  composer.json
  composer.lock
Due: wp-scripts format

Restore localhost for E2E test host
  .github/workflows/tests.yml
  playwright.config.ts
  tests/e2e/fixtures/auth.setup.ts
Due: wp-scripts lint-js

Run E2E workflow on wp-env
  .github/workflows/tests.yml
Due: none

Stabilize wp-env CI and e2e tests
  .github/workflows/tests.yml
  tests/e2e/specs/block-editor-control.spec.ts
  tests/e2e/specs/body-classes.spec.ts
  tests/e2e/specs/class-manager-modal.spec.ts
  tests/e2e/specs/import-export.spec.ts
  tests/e2e/utils/helpers.ts
Due: wp-scripts lint-js

add lint workflow
  .github/workflows/lint.yml
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json
