Repository ediamin/css-class-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run phpcs, wp-scripts format, wp-scripts lint-style, wp-scripts lint-js, wp-scripts lint-pkg-json

Improve CSS class name parser
  .phpcs.xml.dist
  composer.json
  includes/CSSParser/Ast.php
  includes/CSSParser/AstNode.php
  includes/CSSParser/AtRoot.php
  includes/CSSParser/AtRule.php
  includes/CSSParser/BaseAstNode.php
  includes/CSSParser/Comment.php
  includes/CSSParser/Context.php
  includes/CSSParser/Declaration.php
  includes/CSSParser/Parser.php
  includes/CSSParser/Rule.php
  includes/CSSParser/StyleRule.php
  includes/ClassNameParser.php
  includes/SelectorParser/BaseSelectorAstNode.php
  includes/SelectorParser/Parser.php
  includes/SelectorParser/SelectorAstNode.php
  includes/SelectorParser/SelectorCombinatorNode.php
  includes/SelectorParser/SelectorFunctionNode.php
  includes/SelectorParser/SelectorNode.php
  includes/SelectorParser/SelectorSeparatorNode.php
  includes/SelectorParser/SelectorValueNode.php
  includes/ThemeClasses.php
  package.json
  phpstan.neon.dist
  phpunit.xml.dist
  tests/bootstrap.php
  tests/php/includes/ClassNameParserTest.php
  tests/php/includes/PluginTest.php
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Fix unable to remove body classes issue
  assets/src/css-class-manager/body-classes/settings-panel.tsx
Due: wp-scripts lint-js

Exclude theme classes in exported class list json file
  assets/src/css-class-manager/preferences-modal/tabs/import-export/export.tsx
  assets/src/css-class-manager/types.ts
  includes/ThemeClasses.php
Due: composer run phpcs, wp-scripts lint-js

Add Inline Element Classes feature
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inline-element-classes/index.tsx
  assets/src/css-class-manager/inline-element-classes/settings-panel.tsx
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Add inline css feature screenshots
  .wp-org/screenshot-4.png
  .wp-org/screenshot-5.png
  .wp-org/screenshot-6.png
  .wp-org/screenshot-7.png
  .wp-org/screenshot-8.png
  .wp-org/screenshot-9.png
  README.md
  readme.txt
Due: none

Add a filter to manage theme classes css
  includes/ThemeClasses.php
Due: composer run phpcs

Use ClassPreset structure in PHP
  .phpcs.xml.dist
  includes/ClassPreset.php
  includes/Plugin.php
  includes/Settings.php
  includes/ThemeClasses.php
  phpstan.neon.dist
Due: composer run phpcs

Add the changelog and update the readme.txt
  README.md
  readme.txt
Due: none

Update version number to 1.5.0
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Update short description to make it under 150 chars
  readme.txt
Due: none

Update npm packages to the latest
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Update base WordPress version in wp-env settings
  .wp-env.json
Due: wp-scripts format

Add WordPress npm packages in devDependencies
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Add classes without saving to the database
  assets/src/css-class-manager/preferences-modal/tabs/preferences/settings-form.tsx
  assets/src/css-class-manager/select-control/get-new-option-data.tsx
  assets/src/css-class-manager/select-control/index.tsx
  assets/src/css-class-manager/select-control/option-label.tsx
  assets/src/css-class-manager/styles.scss
  assets/src/css-class-manager/types.ts
  includes/UserSettings.php
Due: composer run phpcs, wp-scripts lint-style, wp-scripts lint-js

Fix TypeScript related errors
  assets/src/css-class-manager/body-classes/settings-panel.tsx
  assets/src/css-class-manager/hooks/use-store.ts
  assets/src/css-class-manager/preferences-modal/index.tsx
  assets/src/css-class-manager/store/index.ts
Due: wp-scripts lint-js

Update filters and actions list in copilot instructions
  .github/copilot-instructions.md
  includes/ThemeClasses.php
Due: composer run phpcs

Add rate plugin prompt to preferences modal
  assets/src/css-class-manager/preferences-modal/index.tsx
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Update readme.txt and README.md
  readme.txt
Due: none

Update plugin version to 1.6.0
  README.md
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Add priority to class presets and sort accordingly
  .phpcs.xml.dist
  .wp-env.json
  assets/src/css-class-manager/store/index.ts
  assets/src/css-class-manager/types.ts
  includes/ClassPreset.php
Due: composer run phpcs, wp-scripts format, wp-scripts lint-js

Update user settings label and description
  assets/src/css-class-manager/preferences-modal/tabs/preferences/settings-form.tsx
Due: wp-scripts lint-js

Fix some style issues related to latest Gutenberg components
  assets/src/css-class-manager/preferences-modal/tabs/preferences/settings-form.tsx
  assets/src/css-class-manager/styles.scss
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-style, wp-scripts lint-js, wp-scripts lint-pkg-json

Fix dependabot error
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Update readme.txt and README.md
  README.md
  readme.txt
Due: none

Update the plugin version to 1.6.1
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Fix e2e test errors
  .phpcs.xml.dist
  artifacts/storage-states/admin.json
  assets/src/css-class-manager/select-control/index.tsx
  package.json
  playwright.config.ts
  test-results/class-manager-modal-CSS-Cl-41e48-suggestion-in-the-inspector-chromium-retry1/trace.zip
  test-results/class-manager-modal-CSS-Cl-41e48-suggestion-in-the-inspector-chromium-retry1/video.webm
  tests/e2e/fixtures/auth.setup.ts
  tests/e2e/specs/block-editor-control.spec.ts
  tests/e2e/specs/body-classes.spec.ts
  tests/e2e/specs/class-manager-modal.spec.ts
  tests/e2e/utils/helpers.ts
  tests/php/includes/BodyClassesTest.php
  tests/php/includes/ClassPresetTest.php
  tests/php/includes/SettingsTest.php
  tests/php/includes/ThemeClassesTest.php
  tests/php/includes/UserSettingsTest.php
Due: composer run phpcs, wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Fix failing workflow issues
  .github/workflows/tests.yml
  artifacts/storage-states/admin.json
  composer.json
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

ci: provision test assets before wp-env
  .github/workflows/tests.yml
Due: none

ci: run composer install in e2e job
  .github/workflows/tests.yml
Due: none

Cache wp-env downloads in CI workflow
  .github/workflows/tests.yml
Due: none

Improve e2e setup
  .eslintrc.js
  .gitignore
  .wp-env.json
  artifacts/storage-states/admin.json
  assets/src/css-class-manager/__tests__/store/actions.test.ts
  assets/src/css-class-manager/__tests__/store/selectors.test.ts
  assets/src/css-class-manager/store/index.ts
  package-lock.json
  package.json
  test-results/.last-run.json
  tests/e2e/fixtures/auth.setup.ts
  tests/e2e/specs/body-classes.spec.ts
  tests/e2e/specs/class-manager-modal.spec.ts
  tests/e2e/specs/import-export.spec.ts
  tests/e2e/utils/helpers.ts
  tests/jest-globals.d.ts
  tsconfig.json
  tsconfig.test.json
  tsconfig.test.tsbuildinfo
Due: wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Fix dependabot errors
  package-lock.json
  package.json
  tsconfig.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Refactor GitHub workflow and remove wp-env dependency
  .github/workflows/tests.yml
Due: none

Fix failing PHP tests for 8.3 and 8.4
  composer.json
Due: wp-scripts format

Fix failing PHP tests
  composer.json
Due: wp-scripts format

Optimize and improve performance
  assets/src/css-class-manager/hooks/use-class-name-list.ts
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/class-list.tsx
  assets/src/css-class-manager/store/index.ts
  includes/Hooks.php
  includes/ThemeClasses.php
  includes/UserSettings.php
Due: composer run phpcs, wp-scripts lint-js

Remove tracked TypeScript build info
  .gitignore
  tsconfig.test.tsbuildinfo
Due: none

Fix Composer CI installs
  .gitignore
  composer.json
  composer.lock
Due: wp-scripts format

Fix dependabot transitive alerts
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Optimize workflow caches and fix E2E host
  .github/workflows/tests.yml
  playwright.config.ts
  tests/e2e/fixtures/auth.setup.ts
Due: wp-scripts lint-js

Path conditions:
  composer run phpcs: any of: *.php
  wp-scripts format: any of: *.json
  wp-scripts lint-style: any of: *.scss
  wp-scripts lint-js: any of: *.{js,ts,tsx}
  wp-scripts lint-pkg-json: any of: package.json
