Repository ediamin/css-class-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run phpcs, wp-scripts format, wp-scripts lint-style, wp-scripts lint-js, wp-scripts lint-pkg-json

Add User Settings panel screenshot
  .wp-org/screenshot-6.png
  .wp-org/screenshot-7.png
  readme.txt
Due: none

Add husky pre-commit script
  .husky/pre-commit
Due: none

Update the PHP filter related FAQ answer
  readme.txt
Due: none

Add README.md for GitHub
  .wp-env.json
  README.md
Due: wp-scripts format

Fix README.md
  README.md
Due: none

Update plugin version and add changelog
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Fix control group selection
  assets/src/css-class-manager/inspector-control/index.tsx
Due: wp-scripts lint-js

Preparing release version 1.2.0
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Improve control group selection for own panel settings
  assets/src/css-class-manager/inspector-control/block-support.tsx
  assets/src/css-class-manager/inspector-control/index.tsx
  package.json
Due: wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Add a script to update version in plugin files
  version-update.js
Due: wp-scripts lint-js

Update plugin version and add changelog
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  readme.txt
Due: composer run phpcs, wp-scripts format

Fix overlapping typography sizes onto class list dropdown
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-style

Implement fuzzy search with fuse.js
  assets/src/css-class-manager/hooks/use-class-name-list.ts
  assets/src/css-class-manager/hooks/use-store.ts
  assets/src/css-class-manager/inspector-control/no-options-message.tsx
  assets/src/css-class-manager/inspector-control/option-label.tsx
  assets/src/css-class-manager/inspector-control/select-control.tsx
  assets/src/css-class-manager/styles.scss
  assets/src/css-class-manager/types.ts
  package-lock.json
  package.json
  version-update.js
Due: wp-scripts format, wp-scripts lint-style, wp-scripts lint-js, wp-scripts lint-pkg-json

Fix PHPStan error
  includes/Plugin.php
Due: composer run phpcs

Update wp-env WordPress version
  .wp-env.json
Due: wp-scripts format

Update npm packages
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Implement fuse.js to search class names in manager modal
  assets/src/css-class-manager/preferences-modal/tabs/css-classes/class-list.tsx
Due: wp-scripts lint-js

Add release changelog
  readme.txt
Due: none

Update version number to 1.3.0
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Update Tested up to version
  readme.txt
Due: none

Update npm packages and dev environment
  .nvmrc
  .wp-env.json
  package-lock.json
  package.json
Due: wp-scripts format, wp-scripts lint-pkg-json

Add body class control
  assets/src/css-class-manager/body-class-control-panel/index.tsx
  assets/src/css-class-manager/index.ts
  includes/BodyClasses.php
  includes/Hooks.php
  package-lock.json
  package.json
Due: composer run phpcs, wp-scripts format, wp-scripts lint-js, wp-scripts lint-pkg-json

Output body classes on frontend
  includes/BodyClasses.php
  includes/Hooks.php
Due: composer run phpcs

Refactor body class panel and add observer/hooks system
  assets/src/css-class-manager/body-class-control-panel/index.tsx
  assets/src/css-class-manager/body-classes/action.ts
  assets/src/css-class-manager/body-classes/attribute-observer.tsx
  assets/src/css-class-manager/body-classes/index.tsx
  assets/src/css-class-manager/body-classes/settings-panel.tsx
  assets/src/css-class-manager/hooks/use-store.ts
  assets/src/css-class-manager/index.ts
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/select-control/index.tsx
  assets/src/css-class-manager/select-control/no-options-message.tsx
  assets/src/css-class-manager/select-control/option-label.tsx
  assets/src/css-class-manager/store/index.ts
  assets/src/css-class-manager/types.ts
Due: wp-scripts lint-js

Remove unused action module
  assets/src/css-class-manager/body-classes/action.ts
Due: wp-scripts lint-js

Add Use in post loop feature for the body classes
  .phpcs.xml.dist
  .wp-env.json
  assets/src/css-class-manager/body-classes/inspector-control.tsx
  assets/src/css-class-manager/body-classes/settings-panel.tsx
  assets/src/css-class-manager/inspector-control/index.tsx
  assets/src/css-class-manager/select-control/index.tsx
  assets/src/css-class-manager/styles.scss
  assets/src/css-class-manager/types.ts
  includes/BodyClasses.php
  includes/Enqueue.php
  includes/Hooks.php
Due: composer run phpcs, wp-scripts format, wp-scripts lint-style, wp-scripts lint-js

Add note to the AttributeObserver component
  assets/src/css-class-manager/body-classes/attribute-observer.tsx
Due: wp-scripts lint-js

Fix PHPStan errors
  includes/BodyClasses.php
Due: composer run phpcs

Add theme.json generated class names to the class list
  assets/src/css-class-manager/preferences-modal/tabs/preferences/settings-form.tsx
  assets/src/css-class-manager/types.ts
  includes/Enqueue.php
  includes/Hooks.php
  includes/Plugin.php
  includes/ThemeClasses.php
  includes/UserSettings.php
Due: composer run phpcs, wp-scripts lint-js

Fix some modal styles that conflict with theme styles
  assets/src/css-class-manager/preferences-modal/tabs/preferences/settings-form.tsx
  assets/src/css-class-manager/styles.scss
Due: wp-scripts lint-style, wp-scripts lint-js

Update plugin screenshots
  .wp-org/screenshot-1.png
  .wp-org/screenshot-2.png
  .wp-org/screenshot-3.png
  .wp-org/screenshot-4.png
  .wp-org/screenshot-5.png
  .wp-org/screenshot-6.png
  .wp-org/screenshot-7.png
  .wp-org/screenshot-8.png
  README.md
  readme.txt
Due: none

Add the changelog and update the readme.txt
  readme.txt
Due: none

Update version number to 1.4.0
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Fix body class not adding in pages
  includes/BodyClasses.php
Due: composer run phpcs

Update plugin version to 1.4.1
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Add changelog for v1.4.1
  readme.txt
Due: none

Fix broken theme class generator when css contains line breaks
  includes/ThemeClasses.php
Due: composer run phpcs

Add changelog and update plugin version
  composer.json
  css-class-manager.php
  includes/Plugin.php
  package-lock.json
  package.json
  readme.txt
Due: composer run phpcs, wp-scripts format, wp-scripts lint-pkg-json

Update README.md
  README.md
Due: none

Add copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Path conditions:
  composer run phpcs: any of: *.php
  wp-scripts format: any of: *.json
  wp-scripts lint-style: any of: *.scss
  wp-scripts lint-js: any of: *.{js,ts,tsx}
  wp-scripts lint-pkg-json: any of: package.json
